<div class="container" style="display: flex; justify-content: center; height: 100vh; align-items: center;">
  <div class="myCard">
    <div style="display: flex; justify-content: space-between; width: 100%">
      <h5 class="card-title" style="color: blueviolet; font-weight: 900">
        4Side Form
      </h5>
      <h5>{{ time }}</h5>
    </div>
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label class="form-label">Nombre Completo*</label>
        <input
          formControlName="fullname"
          type="email"
          class="form-control"
          aria-describedby="emailHelp"
        />
        <div
          *ngIf="
            (myForm.controls['fullname'].invalid && myForm.controls['fullname'].dirty) ||         myForm.controls['fullname'].touched
          "
        >
          <P
            class="form-text text-danger"
            *ngIf="myForm.controls['fullname'].hasError('required')"
          >
            Este campo no puede estar vacio
          </P>
          <P
            class="form-text text-danger"
            *ngIf="myForm.controls['fullname'].hasError('minlength')"
          >
            Nombre muy corto
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label">Fecha de Nacimiento*</label>
        <input
          formControlName="birthDate"
          type="date"
          class="form-control"
          aria-describedby="emailHelp"
        />
        <div
          *ngIf="
            (myForm.controls['birthDate'].invalid &&
              myForm.controls['birthDate'].dirty) ||
            myForm.controls['birthDate'].touched
          "
        >
          <P
            class="form-text text-danger"
            *ngIf="myForm.controls['birthDate'].hasError('required')"
          >
            Debe seleccionar una fecha
          </P>
          <P
            class="form-text text-danger"
            *ngIf="myForm.controls['birthDate'].hasError('correctAge')"
          >
            Debe tener mas 18 años y menos de 63 años
          </P>
        </div>
      </div>

      <div class="mb-3">
        <div>
          <label for="exampleInputEmail1" class="form-label">País*</label>
          <select
            formControlName="country"
            (change)="this.getStates()"
            class="form-select"
            aria-label="Default select example"
          >
            <option *ngFor="let country of countries" [value]="country.name">
              {{ country.name }}
            </option>
          </select>
          <div
            *ngIf="
              (myForm.controls['country'].invalid &&
                myForm.controls['country'].dirty) ||
              myForm.controls['country'].touched
            "
          >
            <P
              class="form-text text-danger"
              *ngIf="myForm.controls['country'].hasError('required')"
            >
              Debe seleccionar un país
            </P>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label">Estado o provincia de Nacimiento*</label>
        <select
          formControlName="state"
          class="form-select"
          aria-label="Default select example"
        >
          <option *ngFor="let state of states" [value]="state.name">
            {{ state.name }}
          </option>
        </select>
        <div
          *ngIf="
            (myForm.controls['state'].invalid &&
              myForm.controls['state'].dirty) ||
            myForm.controls['state'].touched
          "
        >
          <P
            class="form-text text-danger"
            *ngIf="myForm.controls['state'].hasError('required')"
          >
            Debe seleccionar un estado
          </P>
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label">Correo*</label>
        <input
          formControlName="email"
          type="email"
          class="form-control"
          aria-describedby="emailHelp"
        />
        <div
          *ngIf="
            (myForm.controls['email'].invalid &&
              myForm.controls['email'].dirty) ||
            myForm.controls['email'].touched
          "
        >
          <P
            class="form-text text-danger"
            *ngIf="myForm.controls['email'].hasError('required')"
          >
            Este campo no puede estar vacio
          </P>
          <P
            class="form-text text-danger"
            *ngIf="myForm.controls['email'].hasError('email')"
          >
            Debe ser una correo valido
          </P>
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label">Temperatura: {{ temp }} °C</label>
      </div>
      <!-- Modal -->
      <div
        #modal
        class="modal fade"
        id="myModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Mensaje</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
                (click)="this.resetForm()"
              ></button>
            </div>
            <div class="modal-body">El tiempo ha terminado</div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
                (click)="this.resetForm()"
              >
                Close
              </button>
            </div>
          </div>
        </div>
      </div>

      <div
        #finmodal
        class="modal fade"
        id="finModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Mensaje</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
                (click)="this.resetForm()"
              ></button>
            </div>
            <div class="modal-body">
             <p>Nombre: {{ myForm.value.fullname }}</p>
             <p>Fecha de Nacimiento: {{ myForm.value.birthDate }}</p>
             <p>Pais: {{ myForm.value.country }}</p>
             <p>Estado: {{ myForm.value.state }}</p>
             <p>Temperatura: {{ temp }} °C</p>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
                (click)="this.resetForm()"
              >
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
      <button [disabled]="this.myForm.invalid" type="submit" class="btn btn-primary">Enviar</button>
    </form>
  </div>
</div>
